extends index.pug
block content
  div(class="container")
    h3 autoGrat Log
    a(type="button" class="btn btn-link" href="/addGrat") Add autoGrat
    .Grats-table

      table(class="striped")
        thead
          tr
            th(class="datePadding") DATE CREATED
            th autoGrat MESSAGE
            th DELETE
        tbody
          each grat in GratsData
            tr
              td(class="dateFont") #{grat.date_created}
              td #{grat.message}
              td
                a(class="btn-floating btn-large waves-effect waves-light red" href=`/delete/${grat.id}`)
                  i(class="material-icons" id=`${grat.id}`) delete_forever
              td
              //- a(type="button" class="btn btn-link" href=`/employees/${employee.id}`) View